@use '../../scss/' as *;

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 15px;

  &__item-img {
    border-radius: 10px;
    padding-top: 160px;
    background-size: cover;
    background-position: center;
    margin-bottom: 0.5rem;
  }

  &__item-img:hover {
    transition: 0.7s;
    transform: scale(1.1);
  }

  &__item-name {
    margin-top: 20px;
    font-size: 0.8rem;
  }
}
